@import "fonts.css";
@import "nav-toogle.css";
body {
  /*background: #ec008c;
  color: #fff;*/
      color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
}

